.firstdiv{
    margin-left:40%;
    margin-right:40%;
    
    align-items: center;
    width: 20%;
    height: 30%;
    
    /* background-color:#23463f; */
    /* border-width:50px; */
    /* border-radius:17%; */
    /* border-color: black; */
}
h1{
    text-align: center;
    color:#277582;
    font-weight:30px;
    font-family: Cooper;
    margin-left: 0%; 
    font-weight:bold;
    font-size: xx-large;
   
}
body{
    background-color:#6abadeba;
}
h3{
    font-family: Cooper;
    text-align: center;
    color:black;
    font-weight:bold;

    
}
img{
    height:200px;
    width: 200px;
    align-items: center;
    border-radius: 11px;
    margin-left:8%;
    /* position: fixed; */
    /* position: absolute; */
    transition: 400ms;
  border-radius:7%;
  /* position:sticky;
  position: fixed; /* Safari  */
  
}
.sec_div{
    width: 382px;
    overflow: hidden;
    margin-left:30%;
    margin-right:10%;
    /* margin: 20 0 0 450px; */
    padding: 80px;
    background:  #0a353d;
    border-radius: 15px ;
    margin-bottom: 10%;
    padding-bottom:20%;
    margin-top:-3%;

}
div img:hover{
    /* filter: grayscale(1); */
    transform:scale(1.05);
}
/* ------------------- */
<<<<<<< HEAD
#topnav{

    width: 100%;
    /* background-color:#0a353d ; */
    background-color:darkslategray;
    height: 10%;
    padding-top: 2%;
    position: fixed;
    position: fixed;
    }
    .pagenamge{
        font-weight:1000px;
    }
    /* your title name */
    
    .font1{
        /* font-family:italic ; */
        /* font-family:cursive ; */
        font-family:Forte ;
        color:orangered;
        font-size:x-large;
    }
    /* ARCHITECT name */
    
    .font2{
         font-family: Cooper;
          
         font-weight:bold;
         font-size: x-large;
         color:orangered;
    }
    
     a:link { 
        text-decoration: none; 
        color:wheat;
        
      }
      
      /* all nav bar link edit with hover it */
    
    a:hover{
    color:orangered;
    }
    .headers{
        size:"7000px";
          font-size:large;
          color:azure;
      }

      .info_person{
      /* float:left; */
      padding-top:-4;
        clear:;
      }
    
    
=======
>>>>>>> eddd58641e1c793886b2ec2999af341ad8b73b66
