body
{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
    font-family: 'Arial';
}
.signup{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background:  #0a353d;
        border-radius: 15px ;
        margin-bottom: 10%;
       

}
h2{
    text-align: center;
    color:#16332d;
    padding: 20px;
    /* position: fixed; */
}
label{
    color: #08ffd1;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    color: blue;
    

}
span{
    color: white;
    font-size: 17px;
}
a{
    float: right;
    background-color: grey;
}



#eml{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}


#ph{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}


#signup_button{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

};
#singup_title{
color: #16332d;
};


/* h2{
    position: fixed;
    color:#16332d;
} */